.top-detail {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 3rem;
  margin: 10rem 0;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 60% 30%;
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 50% 50%;
  }

  @media only screen and (max-width: $bp-smallest) {
    display: block;
  }

  & .left {
    & .img {
      width: 100%;
      margin-bottom: 1rem;
    }

    & .heading {
      font-size: 2rem;
      color: $text-color;
      font-weight: 200;

      & span {
        font-size: 2rem;
        color: $color-black;
        font-weight: 400;
      }
    }

    & .heading2 {
      font-size: 1.7rem;
      color: $text-color;
      font-weight: 200;

      & span {
        font-size: 1.7rem;
        color: $color-black;
        font-weight: 400;
      }
    }

    & .grrid {
      margin: 1rem 0;
      color: $text-color;
      display: flex;
      justify-content: space-between;

      & .left,
      & .right {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 2rem 25rem;
      }

      @media only screen and (max-width: $bp-medium) {
        display: block;
      }
    }

    & .paragraph {
      margin: 1rem 0;
      color: $text-color;
    }

    & .bags {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
      grid-gap: 2rem;
    }
  }

  & .right {
    & .card {
      text-align: center;
      padding: 2rem 3rem;
      margin-bottom: 2rem;
      background-color: $color-primary;

      & .sssss {
        font-size: 1rem;
      }

      & .heading {
        font-size: 1.7rem;
        border-bottom: 2px solid $color-black;
        margin-bottom: 3rem;
        font-weight: 200;

        & span {
          font-size: 1.7rem;
          color: $color-black;
          font-weight: 400;
        }
      }

      & p {
        color: $text-color;
        margin-bottom: 1rem;
      }

      & .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 5rem);
        grid-gap: 1rem;

        & .img {
          & .small {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    & .image {
      & .img {
        width: 100%;
        height: 100%;
      }
    }
  }

  & .foot {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    color: $text-color;
    cursor: pointer;
  }
}

.bottom {
  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
  }

  margin-bottom: 10rem;
  grid-column: center-start / center-end;

  & .heading {
    font-size: 2rem;
    color: $text-color;
    font-weight: 200;

    & span {
      font-size: 2rem;
      color: $color-black;
      font-weight: 400;
    }
  }

  & .bags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 2rem 0;

    & .img {
      width: 100%;
    }
  }
}
